.item td{
    padding-left: 20px;
    height: 36px;
    border-bottom:1px solid #E5E5E5;
}
.item:last-of-type {
}

.users {
    margin-top:20px;
    width: 606px;
}

.buttonsContainer {
}

.container {
}

.thead tr td{
    padding-left: 20px;
    font-weight: bold;
    height: 36px;
    background-color: #E5E5E5;
}

.nameCol {
}

.ageCol {
    font-weight: bold;
}