.App {
    --header_height: 60px;
    margin-bottom: 50px;

}

.hw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.hwTitle {
    margin: 50px;
    font: 32px bold;
    border-bottom: lightgray;
}