.friendMessage {
    align-items: flex-end;
    padding: 0 50px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 25px;
}

.friendImageAndText {

}

.friendImageAndText img {
    width:50px;
    height: 50px;
}

.friendText {
    background-color: #0066cc;
    color:white;
    padding: 10px;
    border-radius: 10px;
}

.friendText:after {

}

.friendName {
    font: 18px bold Arial;
}

.friendMessageText {

}

.friendTime {

}
