.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    margin: 0 20px;
}

.error {
    color:red;
}

.input {
    border-radius: 5px;
    height: 30px;
    width: 300px;
}

.input:focus {
}

.errorInput {
}

.button {
    width:50px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: #0066cc;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    background-color: lightgrey;
}

.text {
}

.greeting {
}
