.greetingForm {
    margin-left: 30px;
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color:red;
}


.input {
    margin-right: 30px;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    border:1px solid lightgrey;
}

.input:focus {
    margin-right: 30px;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    border:1px solid grey;
}

.errorInput {
    margin-right: 30px;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    border:1px solid #ff9c95;
}

.button {
    width:50px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: #0066cc;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    background-color: lightgrey;
}

.text {
}

.greeting {
}
